- content_for(:title, 'Information for Developers')

%h3 What is an avatar?
%p It’s the image that appears beside your name when you post on blogs, forums, or use web services in general. In short, it’s what identifies you as being uniquely you as you browse the web.
%h3 How do I get an avatar?
%p Easy! Upload an image of your choice here via the following form. That image will then become your avatar and you’ll increasingly see it used throughout the university’s web presence.
%h3 But I already have a Gravatar
%p= "You're in the vanguard! If you already have an account with #{link_to 'Gravatar', 'http://www.gravatar.com/'}  or #{link_to 'Wordpress.com', 'http://www.wordpress.com/'}, we’ll import that avatar so long as the account is associated your OSU email address.".html_safe
%h3 What if I don’t want an avatar?
%p If you aren’t sold on the benefits of having an avatar, you may opt out and we’ll use an image of Brutus to represent you. Don’t worry, though as you may change your mind and add an avatar anytime in the future!