.lt-ie9 {
  .alert {
    margin-bottom: 0;
    a:link,
    a:visited {
      color: #500;
      text-decoration: underline; }
    a:hover,
    a:active,
    a:focus {
      color: #200;
      text-decoration: none; } } }