.span3
  .thumbnail
    %strong Update your Opic
    = image_tag 'upload.png'
    %p
      %small Upload from your computer

.span3
  .thumbnail
    %strong Fetch Remote Opic
    = image_tag 'remote.png'
    %p
      %small Get an image from a URL