/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require bootstrap_and_overrides
 *= require_self
 */
body {
  background:#ccc image-url('concrete_wall_3.png') repeat left top;
}

h1 {
  font-family: "Arvo", Helvetica, Arial, sans-serif;
  color:#990000;
  margin-bottom:1em;
    
  small {
    font-size: 70%;
    font-weight: normal;
    color: #999;
    float: right;
  }
}

label.password { font-size:1.1em; }
input.password { font-size:1.6em; width:90%; height:28px;}
.box {border:6px solid #CCC; padding:20px; background-color:#fff;}
.help-inline { display:block; }
.footer{margin-top:1em;}
